body{font-family: 'Poppins', sans-serif;}
#tituloContacto {padding: 40px 0px; }
.form-control{background-color: transparent; border: none; box-shadow: none; border-radius: 0; }
.conh1{color:#8ad42c; text-align: center; font-weight: 600; }
.widt{width:100%;}
.widt2{width: 50%;}
.container {width: 900px; }
textarea.form-control {
    margin-bottom: 30px;
}
.sel{background-color: transparent; border: none; box-shadow: none; border-bottom: 1px solid #8ad42c; border-radius: 0; color:#8ad42c; margin-top: 24px; }
.btnf{display: block; margin: 0 auto;margin-top: 25px;transition: 1s;}
.form-control:focus {border-bottom: 3px solid #8ad42c; font-size: 18px !important; -webkit-box-shadow: none;}
::-webkit-input-placeholder{color:#8ad42c !important; margin:0px;font-size: 16px;}
.botonContactar{
	margin-top: 2em;
	background-color: #8ad42c;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 700px;
	font-size: 23px;
	padding: 9px 35px 9px 35px;
	border-radius: 5px;
	border:2px solid transparent;
	-webkit-transition: .6s; /* Safari */
    transition: .6s;
}

.botonContactar:hover{
	color: #8ad42c;
	background-color: transparent;
	border:2px solid #8ad42c;
}

@media(max-width: 900px){
	.container{width: 100%;}
}

@media(max-width: 768px){
     .anchando{
     	width: 100%;
     }
}