/*footer {background-color: #eeefee;border-top: 4px solid #4cc36a; padding: 30px 30px;color: #aaabaa; }
hr {margin-top: -22px; margin-bottom: 20px; border-top: 1px solid #A0A0A0; }
.hrServ {text-align: left; width: 100%; float: left; }
.footer2,.footer3{display:none;}
.telefonos{font-weight: 400;line-height: 1.9;}
.col-sm-6 {width: 45%; }

@media (max-width: 900px){
	.footer2{display:initial;}
	.footer1{display: none;}
	img.certif {margin-left: -50px; }
	.sucursalDiv {margin-left: 0px; }
	.col-xs-11 {width: 84.666667%; }
	.hrServ {width: 80%; }
}

@media (max-width: 767px){
.hrServ {width: 80%; }
img.certif {margin-left: -10px; }
}

@media (max-width: 600px){
	.footer2{display: none;}
	.footer3{display: initial;}
	.sucursalDiv {width: 100%; }
}

@media (max-width: 480px){
.hrServ {width: 250px; }
footer {padding: 30px 25px; }
}

@media (max-width: 320px){
	.sucursalDiv {margin-left: -56px; }
	footer {padding: 30px 50px; }
	.sucursalDiv {width: 140%; }
}*/

/*FOOTER*/
footer{
	background-color: #eeefee;
	padding-top: 1em;
	padding-bottom: 1em;
}

.ajusteIso{
	width: 70px;
	margin-left: 100px;
}

.formatoPow{
	float: right;
	font-family: 'Poppins', sans-serif;
	color: black !important;
}

.formatoAviso{
	float: right;
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	color: #A0A0A1;
}

.formatoAviso:hover{
	color:#26A360 !important;
}

.formatoConcept{
	float: right;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	color: #A0A0A1;
}

.formatoConcept:hover{
	color:#26A360 !important;
}

@media(max-width: 768px){
	.ajusteIso{
	    width: 85px;
	    margin-left: 44% !important;
    }
	.formatoPow{
		display: none;
	}
	.formatoAviso{
		display: none;
	}
	.formatoConcept{
		display: none;
	}
}

@media(max-width: 550px){
	.ajusteIso{
	    margin-left: 42% !important;
    }
	}

	@media(max-width: 450px){
	.ajusteIso{
	    margin-left: 40% !important;
    }
	}

@media(max-width: 380px){
	.ajusteIso{
	    margin-left: 37% !important;
    }
	}






