footer {background-color: #eeefee;border-top: 4px solid #4cc36a; padding: 30px 30px;color: #aaabaa; }
hr {margin-top: -22px; margin-bottom: 20px; border-top: 1px solid #A0A0A0; }
.hrServ {text-align: left; width: 100%; float: left; }
.footer2,.footer3{display:none;}
.telefonos{font-weight: 400;line-height: 1.9;}
.col-sm-6 {width: 45%; }

@media (max-width: 900px){
	.footer2{display:initial;}
	.footer1{display: none;}
	img.certif {margin-left: -50px; }
	.sucursalDiv {margin-left: 0px; }
	.col-xs-11 {width: 84.666667%; }
	.hrServ {width: 80%; }
}

@media (max-width: 767px){
.hrServ {width: 80%; }
img.certif {margin-left: -10px; }
}

@media (max-width: 600px){
	.footer2{display: none;}
	.footer3{display: initial;}
	.sucursalDiv {margin-left: -35px;width: 470px; }
}

@media (max-width: 480px){
.hrServ {width: 250px; }
.sucursalDiv {width: 366px; }
footer {padding: 30px 45px; }
}

@media (max-width: 320px){
	.sucursalDiv {margin-left: -56px; width: 300px; }
	footer {padding: 30px 50px; }
}