footer{
	padding-top: 1em;
	background-color: #DCDCDC;
}

.formatoCertificacion{
	width: 70px;
}

.letrasNav{
	font-family: 'Poppins', sans-serif;
	font-size: 13.5px;
	color: #A0A0A0;
	transition: .4s;
}

.letrasNav:hover{
   color:#8ad42c;
}

.div2{
	margin-top: 1em;
	padding-top: 1em;
	background-color: #8ad42c;
	width: 100%;
}

.letrasAviso{
	color: white !important;
	float: left;
	padding-left: .5em;
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
}

.letrasAviso:hover{
	color: #4F4C50 !important;
}

.poweredBy{
	float: right;
	font-size: 12px;
	padding-right: 1em;
	padding-bottom: 1em;
}

.imgConcept{
	float: right;
	width: 90px;
	padding-right: 1em;
	padding-bottom: 1em;
}

@media(max-width: 768px){

	.letrasNav{
	font-size: 12px;
}
	.letrasAviso{
	padding-left: 0em;
	font-size: 14px;
}
    .poweredBy{
	font-size: 10px;
	padding-right: .5em;
}
   
   .imgConcept{
	width: 80px;
	padding-right: 0em;

}
}


@media(max-width: 360px){
	.letrasNav{
	font-size: 10px;
}
	.letrasAviso{
	padding-left: 0em;
	font-size: 11.5px;
}
    .poweredBy{
	font-size: 8px;
	padding-right: .5em;
}
   
   .imgConcept{
	width: 70px;
	padding-right: 0em;
}
}

