body{color:#FFF;}

a:hover   {color:#FFFFFF !important; background-color:transparent; text-decoration:none;}
a:active  {color:#FFFFFF !important; background-color:transparent; text-decoration:none;}

header{background-color: #FFFFFF;padding: 25px 0;}
.logo{margin: 0 auto;display: block;}


/*navbar*/
.navbar-fixed-top{opacity: 0.9;transition: all 1.2s ease;height: 60px;font-size: 17px; padding-top: 5px;background-color: #43B763;}
.navbar-nav {width: 100%; text-align: center; }
.navbar-brand>img {width: 50px; }
.navbar-default {background-color: #43B763; border-color: #43B763;border-radius: inherit; }
.navbar-default .navbar-nav>li>a {color: #FFF; }
.navbar-nav>li {border-right: solid 1px white; height: 30px;margin-top: 10px;float: none; display: inline-block; }
.navbar-nav>li>a:hover {color: #025014 !important;transition: .5s;}
.nobaMenu{margin-top: -10px;}

.container-fluid>.navbar-collapse{margin-right: 0px;margin-left: 0px;}

@media (max-width: 990px){
	.navbar-nav>li {margin-left: -5px;}
	.logo{width: 160px;}
	.telefono{font-size: 16px;}
	.navbar-fixed-top{font-size: 16px; }
}

@media (max-width: 767px){
	.navbar-nav>li {display: flex;border-right: none;border-bottom: 1px solid;}
	li.cont {border-bottom: none; }
	.navbar-default .navbar-toggle {background-color: #FFF; }
	.navbar-default .navbar-toggle:hover {background-color: #FFF; }
	.navbar-default .navbar-toggle .icon-bar {background-color: #43B763; }
	.nav>li>a {margin: -10px auto; }
	.navbar-fixed-top{background-color: #43B763;}
	.container-fluid>.navbar-collapse {background-color: #43B763; }
}

@media (max-width: 480px){
	.navbar-default .navbar-nav>li>a {font-size: 17px; }
}