*{
	margin:0;
	padding: 0;	
}

.grosorRowNosotros{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.grosorColumnaImg{
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.navbar {
    margin-bottom: 0px !important;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.ajusteImage{
	width: 100% !important;
}

.contenido{
	margin-top: 17%;
	margin-bottom: 4%;
}

.tituloPrincipal{
	font-family: 'Poppins', sans-serif;
	font-weight: 600px;
	position: relative;
	margin-top: -20%;
	color: white;
	font-size: 60px;
}

.titulosNosotros{
	margin-top: 2em;
	font-family: 'Poppins', sans-serif;
	font-weight: 600px;
    font-size: 35px;
	color: #3fb05e;
}

.parrafos{
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	text-align: justify;
	color: #4f4c4d;
}


.parrafosValores{
	margin: auto;
	font-size: 15px;
	color: #4f4c4d;
	margin-bottom: 1em;
}

.imgsValor{
	    margin-top: .5em;
	    margin-bottom: 2em;
	    margin-left: 0em;
    }

.valorExperiencia{
	width: 100px;
	height: 100px;
}

.valorEtica{
	width: 115px;
	height: 100px;
}

.valorPuntualidad{
	width: 100px;
	height: 100px;
	
}

.valorHonradez{
	width: 90px;
	height: 100px;

}

.valorExcelencia{
	width: 100px;
	height: 100px;

}

.valorVanguardia{
	width: 100px;
	height: 100px;

}

.valorTransparencia{
	width: 100px;
	height: 100px;

}

.valorRespeto{
	width: 140px;
	height: 100px;

}


#imgNosotros{
	width: 100%;
	border-bottom: solid 8px #3fb05e;
	margin-bottom: -1.5em;
}

#imgIso{
	margin-top: 5em;
    margin-bottom: 5em;
	width: 300px;
}


@media (max-width: 1100px){
	.tituloPrincipal{
		font-size: 45px;
	}

	#imgNosotros{
	border-bottom: solid 6px #3fb05e;
    }

	.parrafosValores{
		margin: auto;
		font-size: 15px;
		padding-left: 0px;
		padding-right: 0px;
		color: #4f4c4d;
		margin-bottom: 1em;
	}
}

@media (max-width: 700px) {

	.tituloPrincipal{
		font-size: 37px;
	}

	.titulosNosotros{
		font-size: 20px;
		padding-left: 6px;
	}

	.parrafos{
		margin: auto;
		font-size: 15px;
		padding-left: 0px;
		padding-right: 0px;
		color: #4f4c4d;
	}

	.parrafosValores{
		margin: auto;
		font-size: 15px;
		padding-left: 0px;
		padding-right: 0px;
		color: #4f4c4d;
		margin-bottom: 1em;
	}

	#imgNosotros{
	border-bottom: solid 5px #3fb05e;
    }

    .imgsValor{
    	width: 80px;
    	height: 75px;
    }
}

@media(max-width: 420px){
	.imgsValor{
    	width: 70px;
    	height: 65px;
    }
}

@media(max-width: 330px){
	.imgsValor{
    	width: 60px;
    	height: 55px;
    }
}

/*iso CSS*/

.grosorRowIso{
	margin-right: 0 !important; 
    margin-left: 0 !important; 
}

.grosorNav{
	margin-right: 0 !important;
	margin-left: 0 !important;
}


/*ClientesCSS*/

.grosorRowClientes{
	margin-right: 0; 
    margin-left: 0; 
}


.tituloCliente{
  margin-top: 1.5em;
  color: #26A360;
  font-family: arial;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600px;
}

section#images {
    margin-bottom: 5.5em;
}

.changeColor{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.changeColor:hover{
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);	
    -moz-transition: .4s linear;
    -webkit-transition: .4s linear;
	transition: .4s linear;	
}

#pirelli{
	width: 200px; 
	height: 70px;
}

#vw{
	width: 125px;
	height: 110px;
	margin-top: -2em;
}

#denso{
	width: 200px;
	height: 40px;
}

#KyV{
	width: 200px;
	height: 45px;
}

#hirotec{
	width: 205px; 
	height: 190px;
}

#deacero{
	width: 210px;
	height: 60px;
	margin-top: 5em; 
}

#summit{
	width: 210px;
	height: 100px;
	margin-top: 4em;
}

#kgm{
	width: 210px;
	height: 65px;
	margin-top: 5em;
}

#nsk{
	width: 210px;
	height: 65px;
	margin-top: 3em;
}

#hsc{
	width: 200px;
	height: 80px;
	margin-top: 3em;
}

#HAngeles{
	width: 220px;
	height: 85px;
	margin-top: 3em;
}

#altacia{
	width: 210px;
	height: 120px;
	margin-top: 2em;
}

#viaAlta{
	width: 220px;
	height: 180px;
	margin-top: 0em;
}

#crowne{
	width: 180px;
	height: 100px;
	padding-top: 10px;
	margin-top: 1.5em;
}

#hotelMexico{
	width: 130px;
	height: 170px;
	margin-top: 1.7em;
}

.alto{
	height: 150px;
}

@media (max-width: 1000px){

	.tituloCliente{
    font-size: 40px;
    }

	#pirelli{
	width: 150px; 
	height: 40px;
	}

	#vw{
	width: 80px;
	height: 80px;
    } 

    #denso{
    width: 160px;
	height: 20px;
    }

    #KyV{
	width: 160px;
	height: 25px;
    }

    #hirotec{
	width: 165px; 
	height: 170px;
    }

    #deacero{
	width: 165px;
	height: 40px;
    }

    #summit{
	width: 165px;
	height: 80px;
    }

    #kgm{
	width: 160px;
	height: 45px;
    }

    #nsk{
	width: 170px;
	height: 45px;
    }

    #hsc{
	width: 160px;
	height: 60px;
    }

    #HAngeles{
	width: 180px;
	height: 65px;
    }

    #altacia{
	width: 170px;
	height: 110px;
    }

    #viaAlta{
	width: 180px;
	height: 180px;
    }

    #crowne{
	width: 170px;
	height: 80px;
    }

    #hotelMexico{
	width: 100px;
	height: 140px;
    }
}

@media (max-width: 767px) {

	#vw{
		margin-top: 3em;
	}

	#denso{
		margin-top: 5em;
	}

    #KyV{
    	margin-top: 7em;
    }

    #deacero{
    	margin-top: 2em;
    }

    #summit{
    	margin-top: 6em;
    }

    #kgm{
    	margin-top: 5em;
    }

    #nsk{
    	margin-top: 5em;
    }

    #hsc{
    	margin-top: 8em;
    }

    #HAngeles{
    	margin-top: 6em;
    }

    #altacia{
    	margin-top: 6em;
    }

    #viaAlta{
    	margin-top: 2em;
    }

    #crowne{
    	margin-top: 5em;
    }

    #hotelMexico{
    	margin-top: 8em;
    }

}

/*indexCSS*/

.repetidoIndex{
	display: none;
}

.noAutorizado{background: url("../images/bgblack.jpg");background-size: cover;padding-top: 40px;color: #FFF;font-size: 17px;border-bottom: 6px solid #00b25b ;}
.raton {max-width: 730px; margin-left: -210px;margin-top: 15px;}
.manoStop {max-width: 500px;float: right;margin-right: -15px; }
.autorizado {font-size: 35px; font-weight: bold; }
.insectos {width: 170px;margin-top: 20px; }
.respecto {margin-top: 30px; }
.puedes {font-size: 19px; }
.algo {font-size: 24px; font-weight: bold; }
.bgnegro {height: 430px; }
.alguna{display: none;}
.medical {width: 100px; }
.care {width: 100px; }
.medal {width: 100px; }
.iconos {padding: 65px 0; }
.medical2 {width: 72px; }
.space {margin-top: 30px; color:#26A360;}

.parrafito{
	color: #4f4c4d;
}

.repetido{
	display: none;
}

.bgImage{
	width: 100%;
	height: 770px;
}

.tituloSomos{
	font-family: 'Poppins', sans-serif;
	font-weight: 600px;
	position: relative;
	margin-top: -15em;
	margin-left: 15%;
	color: white;
	font-size: 40px;
	text-shadow: 0px 2px 5px grey;
}

#bgWhite{
	margin-left: 15%;
	position: relative;
	margin: auto;
	width: 70%;
	background-color: white;
	box-shadow: 0px 5px 10px #4f4c4d;
}

.titulosIndex{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color:#26A360;
	padding-left: 1.5em;
}

.tituloChino{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color:#26A360;
	padding-left: 1.5em;
}

.estiloParrafos{
	font-family: 'Poppins', sans-serif;
	color:#4f4c4d;
	text-align: justify;
	padding-left: 2em;
	padding-right: 2em;
}

#tipo{
	position: relative;
	float: right;
	margin-top: -36em;
}

.tipoEmpresa{
	font-family: 'Poppins', sans-serif;
	font-weight: 700px;
	color: #4f4c4d;
	font-size: 35px;
}

.parrafosEmpresa{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color:#4f4c4d;
}

.estiloPlanes{
	font-family: 'Poppins', sans-serif;
	font-weight: 600px;
	color: #4f4c4d;
	font-size: 23px;
}

.botonContactar{
	background-color: #26A360;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 700px;
	font-size: 23px;
	padding: 9px 25px 9px 25px;
	border-radius: 5px;
	border:2px solid transparent;
	-webkit-transition: .6s; /* Safari */
    transition: .6s;
}

.botonContactar:hover{
	color: #26A360;
	background-color: transparent;
	border:2px solid #26A360;
}

.formatoSlider{
	display: inline-block;
	width: 430px;
	margin-top: .5em;
	margin-bottom: .5em;
}


#image2, #image3, #image4, #image5 {
	margin-left: -100px;
}

#image1:hover{
   content:url("../images/slider11.png");
}

#image2:hover{
   content:url("../images/slider22.png");
}

#image3:hover{
   content:url("../images/slider33.png");
}

#image4:hover{
   content:url("../images/slider44.png");
}

#image5:hover{
   content:url("../images/slider55.png");
}

@media(max-width: 1833px){
	#tipo{
		width: 700px;
		margin-top: -33em;
	}

	.alto{
		margin-top: 4em;
	}

	#image5{
		display: none;
	}

}

@media(max-width: 1760px){
	#tipo{
		width: 700px;
		margin-top: -33em;
	}

	.alto{
		margin-top: 4em;
	}

}

@media(max-width: 1650px){
	#tipo{
		width: 600px;
		margin-top: -30em;
	}

	.alto{
		margin-top: 5em;
	}
}

@media(max-width: 1540px){

	#tipo{
		width: 600px;
		margin-top: -30em;
	}

	.alto{
		margin-top: 5em;
	}
}

@media (max-width: 1465px) {
	#tipo{
		width: 500px;
		margin-right: 3em;
		margin-top: -32em;
	}

	.alto{
		margin-top: 10em;
	}

	#image4{
		display: none;
	}
}

@media (max-width: 1320px) {
	#tipo{
		width: 500px;
		margin-right: 3em;
		margin-top: -23em;
	}
}

@media(max-width: 1200px){
    .raton {max-width: 600px; margin-top: 60px;margin-left: -198px; }
    .manoStop {max-width: 470px; }
    .insectos {width: 120px; }
}

@media (max-width: 1280px) {
	#tipo{
		width: 410px;
		margin-top: -23em;
	}
}

@media(max-width: 1130px){
	.formatoSlider{
	width: 400px;
    }
    #image2, #image3{
	margin-left: -90px;
    }

}


@media (max-width: 1070px) {
	#tipo{
		width: 370px;
		margin-top: -23em;
	}

	.formatoSlider{
	width: 300px;
    }

      #image2, #image3{
	margin-left: -60px;
    }
}

@media (max-width: 1024px){
    .cuatro{width: initial;}
}

@media (max-width: 960px) {
	#tipo{
		display: none;
	}

	.tituloChino{
		display: none;
	}

	.original{
		display: none;
	}

	.repetido{
		display: flex;
	}
}

@media (max-width: 900px){
.manoStop {max-width: 320px; }
.noAutorizado {font-size: 13px; }
.autorizado {font-size: 24px; }
.insectos {width: 90px; }
.algo {font-size: 21px; }
.raton {max-width: 500px; margin-left: -166px; margin-top: -8px; }
.bgnegro {height: 300px; }
}

@media (max-width: 820px){
	.formatoSlider{
	width: 260px;
    }
}

@media (max-width: 788px) {
	.alto{
		margin-top: 8em;
	}

}

@media (max-width: 768px) {
	.raton {max-width: 500px; margin-left: -166px; margin-top: -0px; }
	.tituloSomos{
	margin-top: -22em;
	margin-left: 5%;
	font-size: 30px;
    }

    #bgWhite{
    	width: 91%;
    }

    .bgImage{
	width: 100%;
    }

    .alto{
		margin-top: 18em;
	}
	
}

@media (max-width: 767px){
.manoStop {max-width: 260px; }
.noAutorizado {font-size: 10px; }
.autorizado {font-size: 18px; }
.puedes {font-size: 16px; }
.algo {font-size: 16px; }
.bgnegro {height: 260px; }
.raton {max-width: 400px; margin-left: -138px; }
.medical2,.care,.medal{margin-top: 30px;}
}

@media(max-width: 700px){
  .formatoSlider{
	width: 240px;
    }

    #image2, #image3{
	margin-left: -45px;
}

@media(max-width: 664px){
	.formatoSlider{
	width: 200px;
    }
}

@media (max-width:600px){
    .col-xs-4 {display: none; }
    .alguna{display: initial;}
    .noAutorizado {font-size: 14px; }
    .insectos {width: 80px; }
    .algo {font-size: 18px; }
    .puedes {font-size: 17px; }
    .bgnegro {height: 290px; }
    .noAutorizado {padding-top: 15px; }
    .medical,.medal {width: 80px; }
    .medical2,.care {width: 70px; }
}

@media(max-width: 550px){
	.repetidoIndex{
		display: initial;
	}

	.originalIndex{
		display: none;
	}

	#image1{
		margin-top: .5em;
	}

	.estiloPlanes{
		margin-top: -1em;
	}

	#image1, #image2, #image3, #image4,#image5{
		display: block;
		margin-left: 0;
		padding-bottom: 8px;
	} 

	#image1{
    content: url("../images/sliderFull1.jpg") !important;
    height: 200px;
    }

    #image2{
    content: url("../images/sliderFull2.jpg") !important;
    height: 200px;
    }

    #image3{
    content: url("../images/sliderFull3.jpg") !important;
    height: 200px;
    }

    #image4{
    content: url("../images/sliderFull4.jpg") !important;
    height: 200px;
    }

    #image5{
    content: url("../images/sliderFull5.jpg") !important;
    height: 200px;
    }

	.formatoSlider{
	width: 250px;
    }

}

@media (max-width: 520px){
	.tipoEmpresa{
	font-family: 'Poppins', sans-serif;
	font-weight: 700px;
	color: #4f4c4d;
	font-size: 30px;
    }

    .alto{
		margin-top: 13em;
	}
}

@media (max-width: 440px){
	.alto{
		margin-top: 26%;
	}

}

@media (max-width: 411px){
	.tituloSomos{
	margin-top: -24em;
    }

	.alto{
		margin-top: 45%;
	}

}

@media (max-width: 360px){
	.tituloSomos{
	margin-top: -24em;
    }

    .alto{
		margin-top: 32%;
	}

}

@media (max-width: 320px){
	.tituloSomos{
	margin-top: -24.5em;
    }

    #image1{
    	margin-top: 1.5em;
    }

}








